<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.cf.crs.mapper.HeBeIotDeviceMapper">
    <select id="getDeviceTypeByGroup" resultType="String">
     SELECT deviceType FROM hebeismart_iotdevice GROUP BY deviceType
    </select>
    <select id="selectCountNumberByDeviceType" resultType="int" parameterType="String" >
        SELECT COUNT('deviceType')deviceType FROM hebeismart_iotdevice WHERE deviceType=#{deviceTyp} AND STATUS=#{STATUS}
    </select>


</mapper>